body{
    background-color:thistle;
}
nav{
    height: 3em;
    background-color:slategray;
    text-align: center;
    margin-bottom: 2em;
    border-radius: 1.01em;
}
ul {
    list-style-type: none;
}
body {
    text-align: center;
}
form {
    display: inline-block;
}
