body{
    background-color: powderblue;
}

header{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
}

nav{
    height: 3em;
    background-color: lightgreen;
    text-align: center;
    margin-bottom: 2em;
    border-radius: 1.01em;
}

a{
    display: inline-block;
    font-size: larger;
    margin-top: 0.5em;
    margin-right: 4em;
    margin-left: 4em;
    color: red;
}

/*
We want to target all of images on the page and make them smaller so that everything appears more user-friendly.
*/
img{
    width: 15em;
}

img.icon{
    width: 5em;
}

/*
Here we will be styling the outer recipe_container.
*/

#recipe_container{
    margin-left: 5em;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 1.5em;
}

.recipe_div{
    margin-bottom: 2em;
    border-radius: 1em;
    border-style: solid;
    border-width: 1px;
    padding: 0.5em;
    text-align: center;
}

li{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;
}

#submission{
    border-style: solid;
    border-radius: 1em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: thistle;
}

#only_form{
    display: grid;
    columns: auto;
    text-align: center;
    padding: 1.5em;
}

input{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    border-radius: 0.5em;
    height: 1.8em;
    width: 50%;
}

input[value$="Submit Recipe"]{
    width: 30%;
    color: rebeccapurple;
}

footer{
    text-align: center;
    height: 2em;
}
